* {
  margin: 0;
  padding: 0;
}
h1{
  color: #6a6b6f;
  margin-left: 200px;
  margin-top: 50px;
}
h3{
  color: #666;
  margin-left: 130px;
  margin-top: 15px;
}
.position{
  position: relative;
}
.code{
  position: absolute;
  left: 600px;
  top: 40px;
}
.code img{
  margin-left: 10px;
  width: 150px;
  height: 300px;
}
.code img:hover{
  transform: scale(2.5);
}

#player {
  height: 100px;
  width: 380px;
  margin-top: 80px;
  margin-left: 100px;
}

.player_main {
  display: flex;
  justify-content: flex-start;
}

.cover {
  width: 100px;
  height: 100px;
  position: relative;
  background-color: pink;
}

.cover img {
  width: 100px;
  height: 100px;
}

.player-btn_pause {
  display: block;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 20px;
  right: 70px;
  background-color: #d94240;
  border-radius: 50%;
  transition: transform(2s);
}

.player-btn_pause div {
  left: 21px;
  top: 16px;
  position: absolute;
  border-left: 24px solid #fff;
  border-top: 14px solid transparent;
  border-bottom: 14px solid transparent;
}

.player-btn_play {
  display: none;
  position: absolute;
  height: 60px;
  width: 60px;
  left: 20px;
  top: 20px;
  border-radius: 50%;
  background-color: #d94240;
  transition: 1s;
}

.player-btn-play-right {
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 28px;
  background-color: #fff;
  left: 36px;
  top: 16px;
}

.player-btn-play-left {
  position: absolute;
  display: inline-block;
  width: 4px;
  height: 28px;
  background-color: #fff;
  left: 19px;
  top: 16px;
}

.control {
  width: 280px;
  height: 100px;
  background-color: #fff;
  position: relative;
  padding: 13px, 15px, 13px, 15px;
}

.music_name {
  margin-left: 15px;
  margin-top: 13px;
  font-size: 18px;
  font-weight: 700;
  color: #6a6b6f;
}

.singer {
  font-size: 15px;
  color: #666;
  margin-left: 15px;
}

.player_loop {
  display: block;
  width: 18px;
  height: 20px;
  position: absolute;
  right: 15px;
  bottom: 40px;
  cursor: pointer;
}

.player_single {
  display: none;
  width: 18px;
  height: 20px;
  position: absolute;
  right: 15px;
  bottom: 40px;
  cursor: pointer;
}

.ProgressBar {
  position: relative;
  width: 250px;
  height: 20px;
  margin-left: 15px;
}

.player_line {
  width: 250px;
  height: 6px;
  background-color: rgb(235, 235, 242);
  position: absolute;
  top: 6px;
  border-radius: 3px;
  transition: width 0.3s;
}

.player-line_percent {
  display: block;
  width: 0px;
  height: 6px;
  background-color: #d94240;
  position: absolute;
  top: 6px;
  border-radius: 3px;
  transition: width 0.3s;
}

.player_bottom {
  width: 250px;
  height: 17px;
  margin-left: 15px;
  display: flex;
  justify-content: flex-start;
  vertical-align: center;
  position: relative;
}

.icon img:nth-child(1) {
  margin-top: 2px;
  margin-left: 2px;
}

.icon img:nth-child(2) {
  display: none;
  margin-top: 2px;
  margin-left: 2px;
}

.volume_background {
  /* display: none; */
  position: absolute;
  width: 120px;
  height: 14px;
  border-radius: 5px;
  background-color: #ebebf2;
  left: 105px;
  top: 4px;
  transition: width 0.5s;
}

.volume {
  position: absolute;
  width: 120px;
  height: 14px;
  border-radius: 5px;
  background-color: #d94240;
  left: 105px;
  top: 4px;
  z-index: 100;
  transition: width 0.5s;
}

.menu {
  position: absolute;
  left: 230px;
  top: 2px;
  transition: 0.5s;
}
.list {
  width: 365px;
  height: 60px;
  font-size: 14px;
  line-height: 28px;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.list p:hover {
  cursor: pointer;
  background-color: #ddd;
}
.list p:nth-child(1) {
  border-bottom: 1px solid #e9e9e9;
}
audio {
  margin-top: 150px;
  opacity: 0;
}
